@use "../utils/mixin" as mxn;
@use "../utils/variables" as var;
section {
  .section-nav {
    padding: 128px 0;
    .section-nav-text {
      h1 {
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
        text-align: center;
        margin: 0 auto;
        max-width: 269px;
        color: black;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        max-width: 562px;
        margin: 0 auto;
        padding-top: 16px;
        text-align: center;
      }
    }
    .section-nav-btn {
      margin-top: 64px;
      background-color: var.$accent-color;
      border-radius: 5px;
    }
  }
}
