@use "../utils/mixin" as mxn;
@use "../utils/variables" as var;
@use "../components/button" as mxBtn;

section {
  background-color: var.$tint-blueColor;
  .section-flex {
    @include mxn.flex(0, space-between, 0);
    padding: 126px 0 128px;
    @media (max-width: 1170px) {
      display: block;
    }
    .section-left {
      @media (max-width: 1170px) {
        padding-bottom: 60px;
      }
      h1 {
        @include mxn.family("Poppins", 54px, 600, 74px, var.$color-grey);
        max-width: 582px;
        @media (max-width: 1400px) {
          @include mxn.family("Poppins", 45px, 600, 60px, var.$color-grey);
        }
        @media (max-width: 1170px) {
          text-align: center;
          display: flex;
          margin: 0 auto;
        }
        @media (max-width: 700px) {
          gap: 10px;
          @include mxn.family("Poppins", 36px, 600, 45px, var.$color-grey);
        }
      }
      p {
        @include mxn.family("Poppins", 16px, 600, 28px, var.$color-grey);
        max-width: 582px;
        padding: 24px 0 48px;
        @media (max-width: 1170px) {
          text-align: center;
          display: flex;
          margin: 0 auto;
        }
        @media (max-width: 700px) {
          gap: 10px;
          @include mxn.family("Poppins", 12px, 600, 36px, var.$color-grey);
        }
      }

      .btn-flex {
        display: flex;
        gap: 40px;
        @media (max-width: 1400px) {
          gap: 10px;
        }
        @media (max-width: 1170px) {
          text-align: center;
          display: flex;
          justify-content: center;
        }
        button {
          display: flex;
          padding: 16px 56px;
          border: none;
          border-radius: 41px;
          background-color: var.$color-yellow;
          // @media (max-width: 1170px) {
          //   text-align: center;
          //   display: flex;
          //   margin: 0 auto;
          // }
        }
        .next {
          border: none;
          @include mxn.flex(center, 0, 14px);
          background-color: var.$tint-blueColor;
          color: var.$color-grey;
          // @media (max-width: 1170px) {
          //   text-align: center;
          //   display: flex;
          //   margin: 0 auto;
          // }
        }
      }
    }
    .section-right {
      @media (max-width: 1170px) {
        display: flex;
        justify-content: center;
      }
      img {
        @media (max-width: 700px) {
          width: 100%;
        }
      }
    }
  }
}

aside {
  .home-flex {
    display: flex;
    justify-content: space-between;
    padding: 57px 0;
    h1 {
      @include mxn.family("Poppins", 48px, 600, 64px, var.$color-black);
    }
    button {
      border: none;
      @include mxn.family("Poppins", 16px, 600, 28px, var.$color-black);
      @include mxn.flex(center, 0, 14px);
      background-color: white;
    }
  }
  .img-flex-about {
    display: flex;
    padding-bottom: 128px;
    justify-content: space-between;
    .left-img {
      width: 800px;
      height: 600px;
      background-image: url(../../img/card.svg);
      // background-color: red;
      .liner-bg {
        max-width: 396px;
        height: 600px;
        background-color: rgba(14, 15, 59, 0.42);
        h1 {
          @include mxn.family("Poppins", 24px, 600, 36px, var.$color-grey);
          padding: 312px 35px 0 48px;
        }
        p {
          @include mxn.family("Poppins", 16px, 600, 28px, var.$color-grey);
          padding: 16px 55px 40px 48px;
        }
        button {
          border: none;
          background-color: rgba(115, 117, 183, 0.42);
          @include mxn.family("Poppins", 16px, 600, 28px, var.$color-yellow);
          margin-left: 48px;
        }
      }
    }
    .right-img-about {
      .top-img {
        width: 405px;
        height: 284px;
        background-image: url(../../img/rectangle.svg);
        .img-top-bg {
          width: 405px;
          height: 284px;
          background-color: rgba(14, 15, 59, 0.42);
          margin-left: 10px;
          h1 {
            @include mxn.family("Poppins", 24px, 600, 36px, var.$color-grey);
            padding: 129px 0 0 56px;
            max-width: 250px;
          }
          button {
            border: none;
            display: flex;
            align-items: center;
            background-color: rgba(115, 117, 183, 0.42);
            @include mxn.family("Poppins", 16px, 600, 28px, var.$color-yellow);
            margin-left: 56px;
          }
        }
      }
    }
  }
}

.aside-bg {
  background-color: var.$bg-color;
  h2 {
    @include mxn.family("Poppins", 16px, 600, 28px, var.$color-black);
    text-align: center;
    padding: 128px 0 12px;
  }
  h1 {
    @include mxn.family("Poppins", 48px, 600, 64px, var.$color-black);
    max-width: 630px;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
  .cards-pdng {
    padding: 47px 0 128px;
    .about-cards {
      display: grid;
      grid-template-columns: repeat(3, 2fr);
      gap: 30px;

      .card {
        max-width: 405px;
        height: 316px;
        border: none;
        .card-body {
          padding: 108px 42px 0 48px;
          position: relative;
          img {
            position: absolute;
            top: 48px;
          }
        }
      }
    }
  }
}
.coursel-bg {
  background-color: rgb(247, 249, 252);
  .con-flex {
    display: flex;
    padding: 128px 0;
    .con-left {
      h1 {
        @include mxn.family("Poppins", 38px, 600, 56px, var.$color-black);
        max-width: 327px;
      }
      p {
        @include mxn.family("Poppins", 16px, 400, 28px, var.$color-black);
        max-width: 327px;
      }
    }
  }
}
