$color-blue: rgba(36, 5, 242, 1);
$color-black: rgba(40, 41, 56, 1);
$color-grey: rgba(244, 246, 252, 1);
$color-yellow: rgba(252, 217, 128, 1);
$tint-blueColor: rgba(28, 30, 83, 1);
$accent-color: rgba(238, 244, 250, 1);
$bg-color: rgba(244, 246, 252, 1);

